@using ProductApp.Constatnts;
@model ProductApp.Models.Product

@{
    ViewData["Title"] = "AddProduct";
}
<!-- Add these script and link tags in your view -->

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<h1>AddProduct</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <!-- Add this script block in your view -->
   

    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <label asp-for="category" class="control-label"></label>
                <select asp-for="category" class="form-control" asp-items="Html.GetEnumSelectList<ProductCategory>()"> 
                    <option value="">Choose Category</option>
                </select>
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
